@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.topHeader__container {
  background-color: var(--main-color);
  color: var(--secondary-color);
  height: 3.75rem;
  width: 81.8vw;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  align-items: center;
}

.topHeader-cont_simpleNavSec {
  padding: 0 0 0 2.6rem;
}

.topHeader-cont_icons {
  height: 1.3rem;
  width: 1.3rem;
  margin: 0 1rem 0 0;
  fill: #b3b3b3;
  cursor: not-allowed;
}

.topHeader-conticons_left {
  transform: rotate(180deg);
}

.topHeader-cont-1_enabled {
  fill: var(--secondary-color) !important;
  cursor: pointer;
}

.topHeader-cont_accountSec {
  margin: 0 1rem 0 auto;
}
.topHeader-cont_accountSec:hover {
  background-color: #353333;
}

.topHeader-cont-2_container {
  padding: 0.3rem 0.2rem;
}

.topHeader-cont-2-1_mainDiv {
  display: flex;
  align-items: center;
}

.topHeader-cont-2-1_mainDiv:hover {
  cursor: pointer;
}

.topHeader-cont-2-1_icon {
  height: 2rem;
  margin: 0 0.5rem 0 0;
}

.topHeader-cont-2-1_overlayDiv {
  display: none;
}

.topHeader-cont-2-1-over_visible {
  display: block;
}
