.topHeader__container {
  background-color: var(--main-color);
  color: var(--secondary-color);
  height: 3.75rem;
  width: 81.8vw;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  align-items: center;
}
.topHeader__container ::selection {
  pointer-events: none;
}

.topHeader-cont_simpleNavSec {
  padding: 0 0 0 2.6rem;
}

.topHeader-cont_icons {
  height: 1.3rem;
  width: 1.3rem;
  margin: 0 1rem 0 0;
  fill: #b3b3b3;
  cursor: not-allowed;
}

.topHeader-conticons_left {
  transform: rotate(180deg);
}

.topHeader-cont-1_enabled {
  fill: var(--secondary-color) !important;
  cursor: pointer;
}

.topHeader-cont_searchSec {
  margin: 0 0 0 1rem;
  display: flex;
  align-items: center;
  position: relative;
}

.topHeader-cont-2-0_icon {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  left: 1rem;
  fill: var(--main-color);
}

.topHeader-cont_searchSec input {
  height: 2.5rem;
  width: 20rem;
  padding: 0 0 0 3rem;
  font-size: 0.9rem;
  border-radius: 3rem;
  border: 1px solid;
}

.topHeader-cont_accountSec {
  margin: 0 1rem 0 auto;
}

.topHeader-cont-2_container {
  padding: 0.3rem 0.2rem;
}

.topHeader-cont-2-1_mainDiv {
  display: flex;
  align-items: center;
}

.topHeader-cont-2-1_mainDiv:hover {
  cursor: pointer;
  background-color: #353333;
}

.topHeader-cont-2-1_icon {
  height: 2rem;
  margin: 0 0.5rem 0 0;
}

.topHeader-cont-2-1_overlayDiv {
  display: none;
  position: absolute;
  right: 0.5rem;
  width: inherit;
  margin: 0.5rem 0 0 0;
}

.topHeader-cont-2-1-over_visible {
  display: block;
  width: inherit;
}

.topHeader-cont-2-1-2_container {
  display: flex;
  flex-direction: column;
  width: 13rem;
}

.topHeader-cont-2-1-2-1_item {
  flex: 1;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
}
.topHeader-cont-2-1-2-1_item:hover {
  background-color: #353333;
}

.topHeader-cont-2-1-2-1_item svg {
  height: 1.5rem;
  margin: 0 0 0 auto;
  transform: rotate(30deg);
}
